@model TomBooks.Models.Book

<div class="card border-secondary .col-auto col-md-6 col-sm-7">

    @if (Model.Title != null)
    {
        <div class="row g-0">

            <div class="col-md-4">

                <div class="row">

                    <div class="col">

                        <img src="@Model.SmallThumbnail" width="60%" class="m-2 img-fluid rounded-start">

                    </div>

                </div>

                <div class="row">

                    <div class="col">

                        <span class="badge rounded-pill bg-dark" style="margin-left: 9px">
                            Páginas: @Html.DisplayFor(item => item.PageCount)
                        </span>

                    </div>

                </div>

            </div>

            <div class="col-md-8">

                <div class="card-body">

                    <h5 class="card-title">@Model.Title</h5>

                    <p class="card-text">@Model.SubstringDescription()</p>

                    <p class="card-text"><small class="text-body-secondary">@Model.Authors</small></p>

                </div>

                <div class="card-footer text-end">

                    <button type="button" class="btn btn-secondary" onclick="OpenDescription(@Model.ISBN)"> Description </button>

                </div>

            </div>

        </div>
    }

    <div class="modal fade" id="detailsBook" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div id="partialDetailBook">

        </div>

    </div>

</div>